body{
  font-family: Arial;
}

.todogrid, .todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 10px;
  align-items: center;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input, .date-input {
  
  font-size: 15px;
  padding: 6px;
}
.add-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: green;
  color: white;
}
.loop-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: darkred;
  color: white;
}